@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    font-family: "Poppins";
}
header{
    background-color: black;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 40px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.316);


}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    font-weight: 800;
    font-family: "Archivo Black";
}
a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.home{
    /* width: 100vw; */
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    animation: fadein 1s ease-in;
}
.hero{
    text-align:justify;
    width: 80%;
}
@keyframes fadein {
    from{
        transform: translateY(130px);
        opacity: 0.2;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
    
}
.about{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0px 0px;
    width: 100vw;
    height: 60vh;
    /* padding: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.316);
    
}
.about h2 , .skills h2 , .contact h2{
    font-size: 40px;

}
.data{
    display: flex;
    width: 90%;
    gap: 100px;
}
.skills{
    margin: 100px 0px;
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.skills-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* width: 100%; */

    
}
.skills-box{
    width: 150px;
    height: 150px;
    color: white;
    border-radius: 10px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.316);
        display: flex;
        justify-content: center;
        align-items: center;
}
.skills-box:hover{
    transform: translateY(-20px);
    transition: 0.1s linear;
}
.contact{
    width: 100vw;
    padding: 50px 0px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.contact form{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}
.data1{
    display: flex;
    gap: 130px;
    justify-content: center;
    align-items: center;

}
.data1 h2{
    width: 35%;
    font-size: 40px;
}
form input{
    height: 40px;
    border-radius: 4px;
}
textarea{
    height: 60px;
}
button{
    height: 50px;
    color: white;
    background-color: black;
    font-size: 20px;
    font-weight: 800;
    font-family: "Poppins";
    cursor: pointer;
    
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
}
@media (max-width: 768px) {
  .data, .data1 {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }

  header {
    flex-direction: column;
  }

  nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }
}
